
<div class="px-3.5">
  <div id="diary-id-<%= diary.id %>">
    <div class="card w-96 bg-base-100 shadow-xl">
        <%= image_tag "diary_placeholder.png", class: "card-img-top", width: "100", height:"100" %>
        <div class="card-body">
            <div class="card-title">
                <%= link_to diary.title, '#' %>
            </div>
            <div class="card-text">
                <p><%= diary.body %></p>
            </div>
            <% if Like.record_find(user: current_user.id, diary: diary.id) %>
                <%= render 'likes/update_like', { diary: diary } %>
            <% else %>
                <%= render 'likes/create_like', { diary: diary } %>
            <% end %>
            <ul class="list-inline">
                <li><i class="bi bi-person"></i><%= diary.user.name %></li>
                <li><i class="bi bi-calendar"></i><%= l diary.created_at, format: :short %></li>
            </ul>
        </div>
    </div>
  </div>
</div>
