<header>
  <nav class='navbar'>
    <%= link_to t('header.title'), '/', class: 'brand' %>

    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
      <ul class='ms-auto flex justify-between'>
        <li class='nav-item flex'>
          <%= t('header.user_power') %>
          <h1>
            <%= current_user.buff.sum_buff %>
          </h1>
        </li>
        <li class='nav-item'>
          <%= link_to t('header.diary_index'), diaries_path, class: '' %>
        </li>
        <li class='nav-item'>
          <%= link_to t('header.logout'), destroy_user_session_path, data: { turbo_method: :delete } %>
        </li>
      </ul>
    </div>
  </nav>
</header>